* {
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-image: 
    url(images/blob2.svg),
    url(images/blob3.svg),
    url(images/blob4.svg);
  background-repeat: no-repeat;
  background-size: 250px, 320px, 400px;
  background-position: top center, center left, bottom right;
}

header h3 {
  max-width: fit-content;
}


.sofie-pic {
  max-width: 300px;
  height: auto;
  background-image: url(images/blob.svg);
  background-repeat: no-repeat;
  background-position: center;
}

body {
  background-color: rgb(254, 254, 254);
  margin: 0;
}

.about-me {
  padding-left: 2rem;
  padding-right: 2rem;
}

.skill-pics {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.skill-icon {
  max-width: 60px;
}

.projects-container {
  display: grid;
  justify-content: center;
  grid-gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding-left: 2rem;
  padding-right: 2rem;
}

.project {
  border-radius: 8px;
  background-color: white;
  box-shadow: rgb(10 10 10 / 10%) 0px 0.5em 1em -0.125em, rgb(10 10 10 / 2%) 0px 0px 0px 1px;
}

.project-body, .project-header {
  padding: 0 1.5rem 0;
}

.project-body p {
  margin-top: 0;
}

.project-pic {
  max-width: 100%;
  border-radius: 8px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-links {
  flex: auto;
  text-align: right;
}

.icon {
  max-width: 30px;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

a {
  text-decoration: none;
  padding: 2px;
}

footer {
  text-align: center;
  background-image: url('images/wave.svg');
}

footer * {
  padding: 5px;
  margin: 0;
}

